language: java
jdk:
- openjdk8


addons:
  sonarcloud:
    organization: "simobenny8"
    token:
      secure: "TtmYN5w7F5Mh6zGmbPtkN7X3ia6YJ7PHeDM+eLXvF2yQjVXsaTFyU6LThQ6iQSBojAefTSzjeImqrzUzARrLlSVKABU/PgAAM553hJ/3nfn/gHejLZVk/GE/wUIegFVGQoNpt7AesT1AMSbapCXzZQzc7Sstnz22hMWDv/zl06ljSOIo8IIuoAjnBNvN1eLP3Q0YZx9b8uLwERnbu/Wcpn6jiLGuzHPEQjPQUCJXW3CgGJ9RylFm5soWtadSls6fmE3j2J7eBuA6r8egEGWXm/hIDb0YKqPEpUCwS97wwrSV7P5/d0IvMEcqroct0OLvJonw9c38BujbZOYIN/eSczKoKaQaTcitVAoQlOzBV9FljGAijo4RjvQfX781ZtACc2OXjxPeMGvEOdFZmiWKPln0mlLOqaKUGMHA7/StDMA2D4whte5yODqtsuDL7Bx6lNCZJZRYJ6J8EdOYTYMNJZu2hLAjPW4H+5RuQ9f/Rz1Ff1tLJs8my7sjr+WxS5h1kG6U6XTVG25X6NitSqYWUGrq7k//uHA4WUiucmPoKyNGcpxa9ISDknBfQGNzq5GTJ74wJv8QJeUo7OW68msqeNH4BkeNf4f3Of0DZV9DMJAz52Mrf6xcQ5xLyhPpE3Pi1epufOZfyzVBywtG7rEYvzvdaah+khPcpSrKBcysQB4="
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=SimoBenny8_bookkeeper


